.navbar{
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    padding: 10px;
    align-items: center;
}
.profile-pict{
    width:50px;
    border-radius: 50%;
}
.user-login{
    display: flex;
}
.user-profile{
    margin-right: 10px;
}
.nav-cari{
    outline:none;
    width: 500px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}